@model Temp.Application.Engagements.GetCreateEngagementViewModel.Response
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1 class="text-center">Create Employee Engagement</h1>
        <div class="row justify-content-center">
            <div class="col-lg-5">

                @if(Model != null)
                {
                    <form asp-controller="Engagement" asp-action="Create" method="post" asp-antiforgery="true">
                        <div class="alert alert-info text-center" role="alert">
                            <h4>Id: @Model.Employee.Id Name: @Model.Employee.FirstName  @Model.Employee.LastName</h4>
                        </div>
                        <input type="hidden" name="EmployeeId" value="@Model.Employee.Id" />
                        <div class="form-group">
                            <h4>Workplaces</h4>
                            <select name="WorkplaceId" asp-items="@(new SelectList(Model.Workplaces, "Id", "Name"))" class="form-control">
                            </select>
                        </div>
                        <div class="form-group">
                            <h4>Date from</h4>
                            <input name="DateFrom" type="date" class="form-control" />
                        </div>
                        <div class="form-group">
                            <h4>Date to</h4>
                            <input name="DateTo" type="date" class="form-control" />
                        </div>
                        <div class="form-group">
                            <h4>Employment statuses</h4>
                            <select name="EmploymentStatusId" asp-items="@(new SelectList(Model.EmploymentStatuses, "Id","Name"))" class="form-control">
                            </select>
                        </div>
                        <input type="submit" class="btn btn-success float-right" value="Add" />
                    </form>
                }

            </div>

            <div class="col-lg-7">
                <table class="table table-striped text-center">
                    <tr>
                        <th>Workplace</th>
                        <th>Employment status</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                    @if(Model != null)
                    {
                        foreach(var engagement in Model.Engagements)
                        {
                            <tr>
                                <td>@engagement.Workplace.Name</td>
                                <td>@engagement.EmploymentStatus.Name</td>
                                <td>@engagement.DateFrom</td>
                                <td>@engagement.DateTo</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>