@model IEnumerable<Temp.Application.Empolyees.GetEmployeesWithoutEngagement.EmployeesWithoutEngagementViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-8">
    <h1 class="text-center">Employee without Engagement search</h1>
    <table class="table table-striped text-center">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th colspan="2" class="text-center">Options</th>
        </tr>
        @{

            if (Model != null)
            {
                foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>

                        @if (employee.Role == "Admin")
                        {
                            <td>
                                <span class="badge badge-pill badge-warning">@employee.Role</span>
                            </td>
                        }
                        else if (employee.Role == "User")
                        {
                            <td>
                                <span class="badge badge-pill badge-info">@employee.Role</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="badge badge-pill badge-secondary">@employee.Role</span>
                            </td>
                        }
                        <td><a class="btn btn-primary" asp-controller="Engagement" asp-action="Create" asp-route-id="@employee.Id"><i class="fas fa-code-branch"></i></a></td>
                    </tr>
                }
            }
        }
    </table>
</div>

